/*setup*/
html {
    box-sizing: border-box; 
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
   }
   
   body {
    padding: 0;
    margin: 0;
    background-color: #F8F8F8;
   }

/*fonts*/
@font-face {
    font-family: 'open_sans';
   src: url('../fonts/opensans-regular-webfont.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
  }
   
  @font-face {
   font-family: 'open_sans';
   src: url('../fonts/opensans-bold-webfont.woff2') format('woff2');
   font-weight: bold;
   font-style: normal;
  }
  
  @font-face {
   font-family: 'quicksand';
   src: url('../fonts/quicksand-variablefont_wght-webfont.woff2') format('woff2 supports variations'),
   url('../fonts/quicksand-variablefont_wght-webfont.woff2') format('woff2-variations');
  }

  h1 {
      font-family: 'quicksand', Arial, Helvetica, sans-serif;
      font-weight: 700;
      font-size: 2rem;
  }

  h2 {
    font-family: 'quicksand', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
  }

  p, a, li, input, textarea {
      font-family: 'open_sans', Arial, Helvetica, sans-serif;
  }

  a {
      color: #000000;
  }

  a:hover {
      color:rgb(182, 182, 182)
  }

  .body {
      min-height: 88vh;
  }

  /*nav*/

  .ram {
    display: inline-block;
    margin: 1.5rem 2rem;
   }

   .ram h1 {
       margin: 0;
   }

   .ram a, .list a {
       text-decoration: none;
   }
   
   .search {
    display: inline-block;
    padding: 2rem 2rem;
   }

   nav {
       display: flex;
       justify-content: space-between;
       background-color: #FCE9C5;
       width: 100%;
   }

   /*home/details*/

   .feature, .dish {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: 'img text';
    gap: 2rem;
    background-color: #E5E5E5;
   }

   .feattext, .dishtext {
       grid-area: text;
       margin-right: 2rem;
   }

   .featimg, .dishimg {
    grid-area: img;
    }

   .menu {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin: 1rem;
    }

    .categories, .all, .random {
        text-align: center;
    }

    .recipe {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 2fr 3fr;
        grid-template-areas: 'ingredients steps';
        gap: 2rem;
        margin: 2rem;
        }

    .ingredients {
        grid-area: ingredients;
    }

    .steps {
        grid-area: steps;
    }

    /*lists*/

    .list {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'recipe1 recipe2 recipe3'
        'recipe4 recipe5 recipe6';
        gap: 2rem;
        margin: 2rem;
        align-content: center;
        }

    .list img {
        width: auto;
    }

    .recipe1 {
        text-align: center;
        grid-area: recipe1;
    }

    .recipe2 {
        text-align: center;
        grid-area: recipe2;
        align-self: center;
    }

    .recipe3 {
        text-align: center;
        grid-area: recipe3;
        align-self: center;
    }

    .recipe4 {
        text-align: center;
        grid-area: recipe4;
    }

    .recipe5 {
        text-align: center;
        grid-area: recipe5;
    }

    .recipe6 {
        text-align: center;
        grid-area: recipe6;
    }


    .header {
        text-align: center;
        margin: 2rem 0;
    }

    /*Editing/Adding Recipes*/

    .editing {
        display: grid;
        grid-template-rows: .5fr 1fr 1fr 1fr .5fr .5fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'title . .'
        'description . .'
        'ingredients . .'
        'steps steps .'
        'upload . .'
        'submit . .';
        gap: 2rem;
        margin: 2rem;
        }

    .title {
        grid-area: title;
    }

    .description {
        grid-area: description;
    }

    .ingredients {
        grid-area: ingredients;
    }

    .steps {
        grid-area: steps;
    }

    .upload {
        grid-area: upload;
    }

    .submit {
        grid-area: submit;
        width: 5rem;
        height: 2rem;
    }

    .type {
        height: 5rem;
        resize: horizontal;
    }

    /*mobile*/
    @media (min-width: 240px) {
        h1 {
            font-weight: 700;
            font-size: 1.3rem;
        }
      
        h2 {
          font-weight: 600;
          font-size: 1rem;
        }
      
        p, a, li, input, textarea {
            font-size: .75rem;
        }

        img {
            width: 40%;
        }

        /*nav*/

        nav {
            display: flex;
            justify-content: space-between;
            align-content: center;
            background-color: #FCE9C5;
            margin: 0;
        }

        .ram {
            display: inline-block;
            margin: 1rem 1rem;
        }

        .search {
            display: inline-block;
            padding: 1rem 1rem;
        }
        
        .searchTerm {
            width: 5rem;
        }

        /*home/details*/

        .feature, .dish {
            display: flex;
            flex-direction: column;
            gap: 0;
            background-color: #E5E5E5;
           }
        
        .feature img, .dish img {
            width: 100%;
        }

        .feattext, .dishtext {
            margin: 0 1rem 1rem;
        }

        .menu {
            flex-direction: column;
        }

        .recipe {
            display: flex;
            flex-direction: column;
            gap: 0;
            margin: 1rem;
        }

        /*lists*/

        .list {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin: 1rem;
            }

        .list p {
            text-align: left;
        }

        #categories p {
            text-align: center;
        }

        /*edit*/
         
        .type {
           width: 98%;
           resize: none;
        }

        .editing {
            display: flex;
            flex-direction: column;
            margin: 1rem;
            }
    }

    @media (min-width: 420px) {
        h1 {
            font-weight: 700;
            font-size: 1.5rem;
        }
      
        h2 {
          font-weight: 600;
          font-size: 1.3rem;
        }

        p, a, li, input, textarea {
            font-size: 1rem;
        }

        img {
            width: 40%;
        }

        .ram {
            display: inline-block;
            margin: 2rem 2rem;
        }

        .search {
            display: inline-block;
            padding: 1.8rem 2rem;
           }

        .menu {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 'categories all'
            'random .';
            }

        .categories {
            grid-area: categories;
        }

        .all {
            grid-area: all;
        }

        .random {
            grid-area: random;
        }

        .feature img, .dish img {
            width: 100%;
        }

        .list {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 'recipe1 recipe2'
            'recipe3 recipe4'
            'recipe5 recipe6';
            gap: 2rem;
            margin: 2rem;
        }

        .list img {
            width: auto;
        }

        .recipe1 {
            text-align: center;
            grid-area: recipe1;
        }

        .recipe2 {
            text-align: center;
            grid-area: recipe2;
        }

        .recipe3 {
            text-align: center;
            grid-area: recipe3;
        }

        .recipe4 {
            text-align: center;
            grid-area: recipe4;
        }

        .recipe5 {
            text-align: center;
            grid-area: recipe5;
        }

        .recipe6 {
            text-align: center;
            grid-area: recipe6;
        }

    }

    @media (min-width: 800px) {
        h1 {
            font-weight: 700;
            font-size: 2rem;
        }
      
        h2 {
          font-weight: 600;
          font-size: 1.5rem;
        }

        img {
            width: 100%;
        }
        
        /*nav*/

        .ram {
        display: inline-block;
        margin: 2rem 2rem;
        }

        .ram h1 {
           margin: 0;
        }

        .ram a, .list a {
           text-decoration: none;
        }
   
        .search {
        display: inline-block;
        padding: 2rem 2rem;
        }

        .searchTerm {
            width: 11rem;
        }

        nav {
            display: flex;
            justify-content: space-between;
            background-color: #FCE9C5;
            width: 100%;
        }

        /*home/details*/

        .feature, .dish {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 2fr 3fr;
        grid-template-areas: 'img text';
        gap: 2rem;
        background-color: #E5E5E5;
        }

        .feattext, .dishtext {
            grid-area: text;
            margin-right: 2rem;
        }

        .featimg, .dishimg {
            grid-area: img;
        }

        .menu {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            gap: 1rem;
            margin: 1rem;
        }

        .categories, .all, .random {
             text-align: center;
        }

        .recipe {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 2fr 3fr;
            grid-template-areas: 'ingredients steps';
            gap: 2rem;
            margin: 2rem;
        }

        .ingredients {
            grid-area: ingredients;
        }

        .steps {
            grid-area: steps;
        }

        /*lists*/

        .list {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: 'recipe1 recipe2 recipe3'
            'recipe4 recipe5 recipe6';
            gap: 2rem;
            margin: 2rem;
        }

        .list img {
            width: auto;
        }

        .recipe1 {
            text-align: center;
            grid-area: recipe1;
        }

        .recipe2 {
            text-align: center;
            grid-area: recipe2;
        }

        .recipe3 {
            text-align: center;
            grid-area: recipe3;
        }

        .recipe4 {
            text-align: center;
            grid-area: recipe4;
        }

        .recipe5 {
            text-align: center;
            grid-area: recipe5;
        }

        .recipe6 {
            text-align: center;
            grid-area: recipe6;
        }


        .header {
            text-align: center;
            margin: 2rem 0;
        }

        /*Editing/Adding Recipes*/

        .editing {
            display: grid;
            grid-template-rows: .5fr 1fr 1fr 1fr .5fr .5fr;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: 'title . .'
            'description . .'
            'ingredients . .'
            'steps steps .'
            'upload . .'
            'submit . .';
            gap: 2rem;
            margin: 2rem;
            }

        .title {
            grid-area: title;
        }

        .description {
            grid-area: description;
        }

        .ingredients {
            grid-area: ingredients;
        }

        .steps {
            grid-area: steps;
        }

        .upload {
            grid-area: upload;
        }

        .submit {
            grid-area: submit;
            width: 5rem;
            height: 2rem;
        }

        .type {
            height: 5rem;
            resize: horizontal;
        }

        #delete {
            display: flex;
            justify-content: center;
            align-content: center;
        }

    }

  