/*setup*/
html {
    box-sizing: border-box; 
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
   }
   
   body {
    padding: 0;
    margin: 0;
    background-color: #F8F8F8;
   }

/*fonts*/
@font-face {
    font-family: 'open_sans';
   src: url('../fonts/opensans-regular-webfont.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
  }
   
  @font-face {
   font-family: 'open_sans';
   src: url('../fonts/opensans-bold-webfont.woff2') format('woff2');
   font-weight: bold;
   font-style: normal;
  }
  
  @font-face {
   font-family: 'quicksand';
   src: url('../fonts/quicksand-variablefont_wght-webfont.woff2') format('woff2 supports variations'),
   url('../fonts/quicksand-variablefont_wght-webfont.woff2') format('woff2-variations');
  }

  h1 {
      font-family: 'quicksand', Arial, Helvetica, sans-serif;
      font-weight: 700;
      font-size: 2rem;
  }

  h2 {
    font-family: 'quicksand', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
  }

  p, a, li {
      font-family: 'open_sans', Arial, Helvetica, sans-serif;
  }

  a {
      color: #000000;
  }

  a:hover {
      color:rgb(182, 182, 182)
  }

  img {
      width: 100%;
  }

  /*nav*/

  .ram {
    display: inline-block;
    margin: 1.5rem 2rem;
   }

   .ram h1 {
       margin: 0;
   }

   .ram a {
       text-decoration: none;
   }
   
   .search {
    display: inline-block;
    padding: 2rem 2rem;
   }

   nav {
       display: flex;
       justify-content: space-between;
       background-color: #FCE9C5;
   }

   /*home/details*/

   .feature, .dish {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: 'img text';
    gap: 2rem;
    background-color: #E5E5E5;
   }

   .feattext, .dishtext {
       grid-area: text;
       margin-right: 2rem;
   }

   .featimg, .dishimg {
    grid-area: img;
    }

   .menu {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin: 1rem;
    }

    .categories, .all, .random {
        text-align: center;
    }

    .recipe {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 2fr 3fr;
        grid-template-areas: 'ingredients steps';
        gap: 2rem;
        margin: 2rem;
        }

    .ingredients {
        grid-area: ingredients;
    }

    .steps {
        grid-area: steps;
    }